---
layout: layouts/base
---


<div class="max-w-screen-lg mx-auto">
    <a href="/" class="back-to-link">🠔 Back to <img class="h-4" src="/assets/img/favicon.png" alt="The Frontend Team logo - "/>
        thefrontendteam.com</a>
</div>
<div class="post-content ">
    <h1>{{ title }}</h1>
    <div class="text-xs inline mr-6">by <a href="{{authorLink}}" target="_blank" class="inline text-sm">
        {{author}}</a></div>
    <ul class="tags">
        {%- for tag in tags -%}
        <li><a href="/tags/{{ tag }}">#{{ tag }}</a></li>
        {%- endfor -%}
    </ul>
    
    <img src="{{image}}" alt="{{imageAlt}}" class="post-image" />
    {{ content }}


    That's all for now, but join our newsletter for more stories (Join us at the bottom of the page).
    <p class="text-right text-xl hand-written">Thank you<br>❤️ The Frontend Team</p>
    
    <h2>Did you like this story from the frontend team?
        <br>
        <small>Share with the community</small>
    </h2>
    
    <a class="share-twitter" href="https://twitter.com/share/?via=frontendteam&text={{title}}&url={{site.host}}{{permalink}}&hashtags={{tags}}" target="_blank">👉 Share on twitter</a>
    <a class="share-linkedin ml-4" href="https://www.linkedin.com/sharing/share-offsite/?url={{site.host}}{{permalink}}&hashtags={{tags}}" target="_blank">👉 Share on linkedin</a>

    
    {% include 'partials/mailing-list.html' %}
</div>


