
@import "node_modules/@butopen/design-system/src/index";
@import "fonts";

:root {
  --bo-theme-color: #55c4ff;
}

.main-color {
  color: var(--bo-theme-color)  
}

$sm: 640px;
$md: 768px;
$lg: 1024px;


html {
  scroll-behavior: smooth;
}

body, html {
  font-family: 'Roboto', sans-serif;
  //@apply bg-gradient-to-br from-gray-50 to-white;
  @extend .use-bo-design-system;
}

.logo-text {
  @apply text-2xl font-light italic text-slate-400 hover:text-slate-800;
  font-family: Caveat;
}

.hand-written {
  font-family: Caveat;
}


.main, .docs, .posts {
  @apply bg-white py-8 max-w-4xl mx-auto  px-2 md:px-0;
}

html:not([data-scroll='0']) .bo-header, .bo-header {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
}

h1,.logo {
  @apply font-black;
  font-family: 'Inter', serif
}

.subtitle {
  @apply text-gray-400 text-lg leading-5
}

a {
    @apply text-bop
}

.bo-header {
  a {
    @apply opacity-90 hover:opacity-100;
  }
  .bo-header-container {
    @apply max-w-4xl
  }
}


body {
  @apply flex flex-col;
  height: 100vh;
}

.main-root {
  flex: 1;
}


.sc-bl-copy {
  width: 20px;
  height: 20px;
  padding: 4px;
  cursor: pointer;
  opacity: 0.8;
  fill: currentColor;
  display: inline;
}


a.post-card {
  @apply shadow flex flex-col md:flex-row hover:no-underline hover:shadow-lg bg-white my-4;
  img {
    @apply h-auto md:h-28
  }
  
  .tags {
    @apply flex flex-wrap text-xs list-none;
    li {
      @apply mr-1
    }
  }
  
  >div {
    @apply pl-2 flex-1;
    h3 {
      @apply m-0 mt-2
    }
    p {
      @apply text-xs m-0 text-gray-500
    }
  }
}

.back-to-link {
  @apply my-8 block text-gray-400 text-sm opacity-70 hover:opacity-100;
  img {
    @apply inline-block ml-1
  }
}

.post-content {
  @apply max-w-screen-lg p-8 mx-auto bg-white shadow-lg rounded-md;
  img:first-child {
    @apply shadow-xl
  }

  ul.tags {
    @apply inline-flex list-none p-0 m-0 text-xs text-gray-400;
    li {
      @apply mr-2;
    }
  }

}

.share-twitter {
  color: #1b9cea;
}

.share-reddit {
  color: rgb(255, 69, 0);
}

.share-linkedin {
  color: #0e76a8;
}

code {
  background-color: #eaeaea;
  font-size: 12px;
  border-radius: 2px;
  padding: 2px;
}

.homepage a, .tags a, .post-content a {
  @extend .main-color;
}

.sub-headline {
  @apply text-gray-400;
  font-size: 24px;
  line-height: 28px;
}

.bo-header {
  @apply z-10
}


pre[class*=language-]:after, pre[class*=language-]:before {
  box-shadow: 0 4px 8px #979797 !important;
}


em {
  @apply text-blue-900
}

strong {
  @apply text-green-900
}

.note {
  @apply bg-gradient-to-r from-orange-100 to-orange-50 p-2 border-l-8 border-orange-500 rounded-sm shadow;
  >b:first-child {
    @apply text-orange-500
  }
}
