---
title: The Frontend Team – Everything a frontend team needs to know - development, design, devtools, UX, people, tests, and sometimes backend
description: The frontend team is a group of people discussing how to optimize the job of the frontend developer
permalink: /
layout: layouts/base
---


<div class="main homepage">
    <h1>Find out how the frontend team enjoys developing software<br>
        <p class="sub-headline">On our journey developing 
            <a href="https://github.com/butopen">open source software</a>, we write about our team, 
            our process, and our findings: <br>
                <a href="/tags/development">development</a>, <a href="/tags/design">design</a>, 
                <a href="https://www.redevtools.com" target="_blank">devtools</a>, <a href="/tags/UX/">UX</a>, 
                <a href="/tags/DX/">DX</a>, people, tests, and sometimes backend</p></h1>

    
    <div class="my-8 text-gray-400">

        <style>hr {opacity: 0}</style>
        {% include 'partials/mailing-list.html' %}
        
    </div>
    
    
    <h2>Latest posts</h2>

    <div class="posts">

        {% for post in collections.pills %}
        <a class="post-card" href="{{ post.url | url }}">
            <img src="{{post.url | url}}{{post.data.image}}"/>
            <div>
                <h3>{{ post.data.title }}</h3>

                <ul class="tags">
                    {%- for tag in post.data.tags -%}
                    <li>#{{ tag }}</li>
                    {%- endfor -%}
                </ul>
                <p>
                    {{post.data.description}}
                </p>

            </div>
        </a>
        {% endfor %}

        {% for post in collections.blog %}
        <a class="post-card" href="{{ post.url | url }}">
            <img src="{{post.url | url}}{{post.data.image}}"/>
            <div>
                <h3>{{ post.data.title }}</h3>

                <ul class="tags">
                    {%- for tag in post.data.tags -%}
                    <li>#{{ tag }}</li>
                    {%- endfor -%}
                </ul>
                <p>
                    {{post.data.description}}
                </p>

            </div>
        </a>
        {% endfor %}
    </div>

    <script>

        document.addEventListener('scroll', function () {
            document.documentElement.dataset.scroll = window.scrollY;
        }, {passive: true});

    </script>
</div>
