---
pagination: 
    data: collections
    size: 1
    alias: tag
permalink: /tags/{{tag}}/
layout: layouts/base
---

<div class="main tags">
    

<h1 class="text-gray-400">The Frontend Team: here we focus on <a href="/tags/{{ tag }}"><span class="text-primary">{{ tag }}</span></a></h1>

    <div class="posts">

        {% for post in collections[tag] %}
        <a class="post-card" href="{{ post.url | url }}">
            <img src="{{post.url | url}}{{post.data.image}}"/>
            <div>
                <h3>{{ post.data.title }}</h3>
                
                <ul class="tags">
                    {%- for tag in post.data.tags -%}
                    <li>#{{ tag }}</li>
                    {%- endfor -%}
                </ul>
                <p>
                    {{post.data.description}}
                </p>

            </div>
        </a>
        {% endfor %}
    </div>

    {% include 'partials/mailing-list.html' %}

</div>

