<hr class="mt-4">
<div class="bg-white mt-4 mx-auto max-w-screen-lg p-4 text-sm border border-gray-100">
    <p>
        <span class="text-xl hand-written">Join our community 🙌</span>
        <br>
        <span class="text-xs">Join us and get:</span>
    </p>
    <ul>
        <li><a href="https://www.amazon.it/dp/B09XR4VFVS" target="_blank">
            <img src="/books/design-ux-mockups-for-frontend-developers-definitive-guide/cover.jpg"
                 style="display: inline;border-radius: 20%;height:30px" alt="Design, UX, and Mockups for frontend  developers - The Definitive Guide" />
            <b>Design, UX, and Mockups for frontend  developers - The Definitive Guide</b></a> for <i class="line-through text-sm">$14,99</i> <b class="text-black"> free, instantly</b></li>
        <li>a 30-min slot to discuss about frontend problems, architectures, ideas</li>
    </ul>
    <p class="text-xs">Find out how the frontend team enjoys developing software.</p>
    <form action="https://dev.us14.list-manage.com/subscribe/post?u=ec8493c12fd6fd942d5b275dd&amp;id=3b9d27ea49"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
        </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
        <label for="mce-FNAME">Name </label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="hidden"
                                                                                  name="b_4ce7f05f69da58e8a15e2dcd9_626f72c28b"
                                                                                  tabindex="-1" value=""></div>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="bo-button block mt-2">SUBSCRIBE</button>
    </form>
    <p class="text-xs">
        At The Frontend Team we write about what a frontend team faces everyday: development, design, UX, DX, devtools, people, process.
        <br>
        If you want more stories, subscribe below.
    </p>
    <p class="text-xs">
        Subscribe <b>only if</b> you want to receive content about frontend
        <b><a href="/tags/development/">development</a></b>, <b><a href="/tags/design/">design</a></b>, <b><a href="https://www.redevtools.com" target="_blank">devtools</a></b>,
        <b><a href="/tags/UX/">UX</a></b>,
        <b><a href="/tags/DX/">DX</a></b>,
        <b>team</b>, <b>tests</b>, and <b>sometimes backend</b> (for frontend goals only, promise 😉).
        <br>
        You can unsubscribe in any moment using the link at the end of each email.
    </p>

    <p class="text-right text-xl hand-written">❤️ The Frontend Team</p>
</div>
