<hr class="mt-24">
<div class="bg-white mt-4 mx-auto max-w-screen-lg p-4 text-sm border border-gray-100">
    <h3>Find out how the frontend team enjoys developing software</h3>
    <p>
        At The Frontend Team we write about what a frontend team faces everyday: development, design, UX, DX, devtools, people, process.
        <br>
        If you want more stories, subscribe below.
    </p>
    <form action="https://dev.us14.list-manage.com/subscribe/post?u=ec8493c12fd6fd942d5b275dd&amp;id=3b9d27ea49"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
        </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
        <label for="mce-FNAME">Name </label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="hidden"
                                                                                  name="b_4ce7f05f69da58e8a15e2dcd9_626f72c28b"
                                                                                  tabindex="-1" value=""></div>
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="bo-button block mt-2">SUBSCRIBE</button>
    </form>
    <div class="text-gray-400 text-sm">
        <p>
            Subscribe <b>only if</b> you want to receive content about frontend development, design, UX, process, test, and sometime backend.
            <br>
            You can unsubscribe in any moment using the link at the end of each email.
        </p>

    </div>
</div>
